@import "../shared/vars.css";

.index {
  background: #FFF;
}


.appShell {
  position: absolute;
  left: $menuWidth;
  width: calc(100vw - $menuWidth);
}

.indexAppContent {
  height: 100vh;
  width: 100vw;
  position: relative;
}
